
* {
  box-sizing: border-box;
  outline: none;
}

body {
  height: 100%;
  font-family: $franklin;
  font-weight: $font-weight-light;
  background-color: $secondary;
  color: $text; 
  margin:  0;
  padding: 0;
}

main {
   margin-top: 90px;
   margin-bottom: 50px;
}

.mw-1200 { max-width: 1200px; }

.nowrap {
  flex-wrap: nowrap;
}

.flexrow {
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: space-between;
}
