mixin menu(currentPage)
  header
    ul.nav
      li.nav-item
        a.nav-link(href="/",aria-current="page",class=currentPage === 'home' ? 'active' : '') Home
      li.nav-item
        a.nav-link(href='/suppliers', class=currentPage === 'suppliers' ? 'active' : '') 
          span Suppliers
          span.jss644(aria-hidden="true") Suppliers
      li.nav-item
        a.nav-link(href="#",disabled, tabindex="-1", aria-disabled="true") Disabled