#login {


	margin-top: 100px;


	.container-lg, .container-md, .container-sm, .container-xl {
		max-width: 720px;
		
	}

	.row {
		display: flex;
		flex-wrap: wrap;

	}

	.form-horizontal {
		padding: 20px;
	}

	.card {
		position: relative;
		display: flex;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 1px solid rgba(0,0,0,.125);
		border-radius: .25rem;
		padding: 0;

	}

	.card-header:first-child {
		border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0px 0px;
	}

	.card-header {
		padding: 0.75rem 1.25rem;
		margin-bottom: 0px;
		background-color: rgba(0, 0, 0, 0.03);
		border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	}

	.card-body{
		flex: 1 1 auto;
		min-height: 1px;
		padding: 1.25rem;
	}

	.justify-content-center {
		justify-content: center!important;
	}

	.form-group.row {
		margin-bottom: 1rem;
		justify-content: left;
	}

	.form-control {
		display: block;
		width: 100%;
		height: calc(1.6em + .75rem + 2px);
		padding: .375rem .75rem;
		font-size: .9rem;
		font-weight: 400;
		line-height: 1.6;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: .25rem;
		transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		&:focus {
    		box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 5%);
		}
	}

	button, input {
		overflow: visible;
	}
	button, input, optgroup, select, textarea {
		margin: 0;
	}

	@media (min-width: 768px){
		.text-md-right {
			text-align: right !important;
		}
	}

	
	@media (min-width: 768px) {
		.col-md-4 {
			flex: 0 0 33.3333%;
			max-width: 33.3333%;
		}
	}

	.form-check {
		position: relative;
		display: block;
		padding-left: 1.25rem;
	}

	.form-check-input {
		position: absolute;
		margin-left: -1.25rem;
	}

	.form-check-label {
		margin-bottom: 0;
	}

	button, input {
		overflow: visible;
	}
	button, input, optgroup, select, textarea {
		margin: 0;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
	}

	label {
		display: inline-block;
		margin-left: 10px;
	}

	.btn-link {
		font-weight: 400;
		color: #3490dc;
		text-decoration: none;
	}

	

	input[type=checkbox], input[type=radio] {
		box-sizing: border-box;
		padding: 0;
	}

	input {
		overflow: visible;
	}
	

}