/* src/assets/styles/pages/_suppliers.scss  */

.suppliers__page {


thead {
  display: table-header-group;
}
tr {
  height: 50px;
}

th {
  color: #343642;
    font-size: 12px;
    font-family: Libre Franklin, sans-serif;
    font-weight: 500;
    line-height: 14px;
    padding-top: 2px;
    padding-bottom: 0;
    text-transform: uppercase;
}

.col1:first-child {
    padding-left: 10px;
}

.col2 {  width: 200px;}
.col3 {  width: 300px;}
.col4 {  width: 170px;}
.col5 {  width: 34px;}
.col6 {  width: 34px;}



  /* ======================= */

  table {
    width:  100%;
    display: table;
    font-family: Libre Franklin, sans-serif;
    border-spacing: 0;
    border-collapse: collapse;
  }

  tbody {
    display: table-row-group;
  }

  thead {
    display: table-header-group;
  }

  th {
    display: table-cell;
    padding: 2px 30px 0 0;
    text-align: left;
    border-top: 1px solid #c0c7cd;
    border-bottom: 1px solid #c0c7cd;
    vertical-align: inherit;
    color: #343642;
    font-size: 12px;
    font-family: Libre Franklin, sans-serif;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;
    &:first-child {
      padding-left: 10px;
    }
  }

  tr {
    height: 50px;
    color: inherit;
    display: table-row;
    outline: none;
    vertical-align: middle;
    &:hover {
      background-color: rgb(237, 238, 239);
      cursor: pointer;
    }
  }

  th:first-child {
    padding-left: 10px;
  }

  th {
    color: #343642;
    font-size: 12px;
    font-family: Libre Franklin, sans-serif;
    font-weight: 500;
    line-height: 14px;
    padding-top: 2px;
    padding-bottom: 0;
    text-transform: uppercase;
    border-top: 1px solid #c0c7cd;
    border-bottom: 1px solid #c0c7cd;

  }

  tr {
    cursor: pointer;
    height: 70px;
    color: inherit;
    display: table-row;
    outline: none;
    vertical-align: middle;
  }

  td {
    color: #343642;
    padding: 0 30px 0 0;
    font-size: 14px;
    border-top: 1px solid #c0c7cd;
    font-weight: 300;
    line-height: 20px;
    border-bottom: 1px solid #c0c7cd;
    font-weight: 500;
    display: table-cell;
    text-align: left;
    vertical-align: inherit;
    &:first-child {
      padding-left: 10px;
    }
  }

  .table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .col1, .col2, .col3, .col4 { 
    flex-grow: 0;
    padding: 0 15px;
  }

  .col1, .col2 {
    max-width: 8.333333%;
    flex-basis: 8.333333%;   
  }

  .col3 {
    flex-basis: 50%;
    max-width: 600px;
  }

  .col4 {
    max-width: 16.666667%;
    flex-basis: 16.666667%;
  }


  .flex {
    display:  flex;
    flex-wrap: nowrap;
    align-items: center;
  }


}
