#suppliers {

.subcontainer {
  background-color: $white;
  padding: 30px;
  border-radius: 1em;
}

.header {
  justify-content: space-between;
  overflow: hidden;
}

svg {
  height: 24px;
}

.svg-search, .svg-archive {
  height:40px;
  border:0;
  background-color: $white;
  fill: $text-light;
}
.svg-search {
  padding-top: 10px;
  fill: $text-light;
}

.svg-more {
  fill: $text-light;
}
.show-archived {
  padding-top: 10px;
  color: gray;
}



  #col-2 {  width: 200px;}
  #col-3 {  width: 300px;}
  #col-4 {  width: 170px;}
  .col-5 {  width: 34px;}
  .col-6 {  width: 34px;}

  #col-1, #col-2, #col-3, #col-4, .col-5, .col-6 { 
    flex-grow: 0;
    padding: 0 15px;
    visibility: visible;
  }

  #col-1, #col-2 {
    max-width: 8.333333%;
    flex-basis: 8.333333%;   
  }

  #col-3 {
    flex-basis: 50%;
    max-width: 600px;
  }

  #col-4 {
    max-width: 16.666667%;
    flex-basis: 16.666667%;
  }

#col-1{
  visibility: collapse;
}

.search {
  margin-left: 10px;
}
.search-bar
{
  flex-wrap: nowrap;
  justify-content: space-between;
  border-top: 1px solid #c0c7cd;
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;

}

.field {
  border-right: solid 1px lightgrey;
  text-align: center;
  width: 100%;
  & a{
  text-decoration: none;
  color: $text;
}
}


}
