/* src/assets/styles/components/_button.scss  */

.clean-button {
  border: none;
  background: none;
}

.btn {
  @extend .clean-button;
  font-family: $quicksand;
  font-size: 16px;
  font-weight: 700;
  border-radius: 25px;
  color: white;
  padding: 15px 20px 15px 20px;
  background: $primary;
}

.btn-grey {
  background-color: $grey;
  color: $white;
}