extends layout

block title
  title TIM - Suppliers

block content

  +menu('suppliers')    

  main#suppliers
     .container.mw-1200
      div.subcontainer
        .flexrow.nowrap.header
            h2.title-header Suppliers
            .create-button
              .a.create-button(tabindex="0" role="button" href="/cities/create")
                button.btn.btn-grey( type="button") Create Supplier

        table#table(data-toolbar='#toolbar' data-search='true' data-show-refresh='false' data-show-toggle='false' data-show-fullscreen='false' data-show-columns='true' data-show-columns-toggle-all='true' data-detail-view='false' data-show-export='false' data-click-to-select='true' data-minimum-count-columns='2' data-show-pagination-switch='false' data-pagination='true' data-id-field='id' data-page-list='[10, 25, 50, 100, all]' data-side-pagination='server' data-response-handler='responseHandler' )

block script
 
  script.
    var local_data =!{JSON.stringify(data)}
  include suppliers.js
  
