extends layout

block title
  title TIM - Suppliers

block basicSeo
  meta(name='description' content='Contact page')
  meta(name='keywords', content='contact, page')
  meta(name='author' content='')

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  +menu('suppliers')

  div.container
      each item in data
        div 
          h2
            | #{item.citycode}  #{item.city}  #{item.cities_id}
          