/* src/assets/styles/pages/_suppliers.scss  */

.suppliers__page {

@import "./bootstrap/tables";

thead {
  display: table-header-group;
}
tr {
  height: 50px;
}

th {
  color: #343642;
    font-size: 12px;
    font-family: Libre Franklin, sans-serif;
    font-weight: 500;
    line-height: 14px;
    padding-top: 2px;
    padding-bottom: 0;
    text-transform: uppercase;
}

.col1:first-child {
    padding-left: 10px;
}

.col2 {  width: 200px;}
.col3 {  width: 300px;}
.col4 {  width: 170px;}
.col5 {  width: 34px;}
.col6 {  width: 34px;}



}

/*
  Responsive
*/

@media screen and(max-width: $grid-width) {

}
