

.success    { color: $success;}
.info       { color: $info;}
.warning    { color: $warning;}
.danger     { color: $danger;}
.dark       { color: $dark;}

.alert-box {
    margin-top: 7px;
    border: 1px solid currentColor;
    width: 100%;
    display: flex;
    font-size: 12px;
    background: #fff;
    margin-top: 20px;
    min-height: 50px;
    font-weight: 500;
    line-height: 14px;
    border-radius: 5px;
    &.success {
        color: $success;
        border: 1px solid $success !important; 
    }
    &.info {
        color: $info;
        border: 1px solid $info !important; 
    }
    &.warning {
        color: $warning;
        border: 1px solid $warning !important; 
    }
    &.danger {
        color: $danger;
        border: 1px solid $danger !important; 
    }
    &.dark {
        color: $dark;
        border: 1px solid $dark !important; 
    }
}

.alert-icon {
    background: $white;
    width: 47px;
    color: $white;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
}

.alert-svg {
    width: 47px;
    background: currentColor;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
}
.success > .alert-svg {background: $success;}
.info > .alert-svg {background: $info;}
.warning > .alert-svg {background: $warning;}
.danger > .alert-svg {background: $danger;}
.dark > .alert-svg {background: $dark;}

svg {
    touch-action: none;
}

svg.alert {
    fill: $white;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 24px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
}

.alert-text {
    padding: 8px 10px;
    align-self: center;
}



/* warning triangle */

.triangle {
    width: 34px;
    color: #E46711;
    padding-right: 0;
}

svg.triangle {
    color: $red;
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 24px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
}