#header {

  position: fixed;
  background-color: $primary;
  top: 0;
  color: $white;
  width: 100%;
  padding: 0px 15px 0 15px;
  text-align: center;

  ul 
  {
    margin: 0;
    padding: 0;
  }

  li 
  {
    list-style: none;
  }

  .nav-link 
  {
    margin: 0 1px;
    opacity: 0.8;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    &:hover,
    &:focus 
    {
      opacity: 1;
    }
  }

  .active 
  {
    opacity: 1;
    font-weight: 500;
    border: 0;
    position: relative;
    &::after 
    {
      left: 0;
      right: 0;
      bottom: 0;
      height: 4px;
      content: " ";
      position: absolute;
      border-radius: 5px 5px 0 0;
      background-color: $white;
    }
  }

  .dropdown-menu {
    background-color: $primary;
  }

  @media (min-width: 768px) {
    .navbar-brand.abs
    {
      position: absolute;
      width: 100%;
      left: 0;
    }
  }


}