/* src/assets/styles/layout/_general.scss  */

* {
  box-sizing: border-box;
  outline: none;
}
html,
body {
  height: 100%;
  font-family: $franklin;
  font-weight: $font-weight-light;
  background-color: $secondary;
  color: $text; 
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
a {
  text-decoration: none;
  &:visited {
    color: white;
  }
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.subcontainer {
    width: 100%;
    margin: 0 auto;
    padding: 0 5px;
    max-width: 1210px;
}

.flex {
  display: flex;
  flex-direction: row;
  
}

main {
   margin-top: 30px;
}